*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    /*border: solid red; */
    background: #2F5E4D;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 70%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1,25rem; 
}

.container > img{
    height: 300px;
}

.container > input{
    width: 50%;
    height: 2rem;
    background: #cccccc;
    border-radius: 5rem;
    color: #ffffff;
}